digraph AspectModel {
  graph [
    overlap=false
  ]

  node [
    fontname="{{&fontname}}"
    fontsize=12
    shape="record"
    style="filled"
    gradientangle=0
    fillcolor="#e8eef7:#b7c9e3"
  ]

  edge [
    fontname="{{&fontname}}"
    fontsize=10
    len=3
  ]

{{&statements}}

}
