src/main/c/parser.c
src/main/c/grammar.json
src/main/c/node-types.json
src/main/c/tree_sitter/*
src/main/c/include/jni.h
src/main/c/include/linux/jni_md.h
src/main/c/include/linux/jawt_md.h
src/main/c/include/macos/jni_md.h
src/main/c/include/macos/jawt_md.h
src/main/c/include/windows/jni_md.h
src/main/c/include/windows/jawt_md.h
src/main/c/include/windows/bridge/AccessBridgeCallbacks.h
src/main/c/include/windows/bridge/AccessBridgeCalls.h
src/main/c/include/windows/bridge/AccessBridgePackages.h
src/main/js/grammar.js
src/main/js/bindings
src/main/js/js
.zig-cache
