#* @implicitly included *#
#* @vtlvariable name="aspectModel" type="org.eclipse.esmf.metamodel.Aspect" *#
#* @vtlvariable name="versionModel" type="org.eclipse.esmf.aspectmodel.resolver.services.VersionedModel" *#
#* @vtlvariable name="property" type="org.eclipse.esmf.metamodel.Property" *#
#* @vtlvariable name="characteristic" type="org.eclipse.esmf.metamodel.Characteristic" *#
#* @vtlvariable name="constraint" type="org.eclipse.esmf.metamodel.Constraint" *#
#* @vtlvariable name="entity" type="org.eclipse.esmf.metamodel.Entity" *#
#* @vtlvariable name="i18n" type="org.eclipse.esmf.aspectmodel.generator.I18nLanguageBundle" *#
#* @vtlvariable name="operation" type="org.eclipse.esmf.metamodel.Operation" *#
#* @vtlvariable name="aspectModelHelper" type="org.eclipse.esmf.aspectmodel.generator.AspectModelHelper" *#
#* @vtlvariable name="Class" type="java.lang.Class" *#
#* @vtlvariable name="measurement" type="org.eclipse.esmf.characteristic.Measurement" *#
#* @vtlvariable name="unit" type="org.eclipse.esmf.metamodel.Unit" *#
#* @vtlvariable name="quantityKind" type="org.eclipse.esmf.metamodel.QuantityKind" *#
#* @vtlvariable name="state" type="org.eclipse.esmf.characteristic.State" *#
#* @vtlvariable name="duration" type="org.eclipse.esmf.characteristic.Duration" *#
#* @vtlvariable name="Quantifiable" type="org.eclipse.esmf.characteristic.Quantifiable" *#
#* @vtlvariable name="encodingConstraint" type="org.eclipse.esmf.constraint.EncodingConstraint" *#
#* @vtlvariable name="regularExpressionConstraint" type="org.eclipse.esmf.constraint.RegularExpressionConstraint" *#
#* @vtlvariable name="lengthConstraint" type="org.eclipse.esmf.constraint.LengthConstraint" *#
#* @vtlvariable name="fixedPointConstraint" type="org.eclipse.esmf.constraint.FixedPointConstraint" *#
#* @vtlvariable name="structuredValue" type="org.eclipse.esmf.characteristic.StructuredValue" *#
#* @vtlvariable name="collection" type="org.eclipse.esmf.characteristic.Collection" *#
#* @vtlvariable name="enumeration" type="org.eclipse.esmf.characteristic.Enumeration" *#
#* @vtlvariable name="rangeConstraint" type="org.eclipse.esmf.constraint.RangeConstraint" *#
#* @vtlvariable name="either" type="org.eclipse.esmf.characteristic.Either" *#
#* @vtlvariable name="scalar" type="org.eclipse.esmf.metamodel.Scalar" *#
#* @vtlvariable name="entity" type="org.eclipse.esmf.metamodel.Entity" *#
#* @vtlvariable name="singleEntity" type="org.eclipse.esmf.characteristic.SingleEntity" *#
#* @vtlvariable name="map" type="java.util.HashMap<java.lang.String,Object>" *#
#* @vtlvariable name="timeSeries" type="org.eclipse.esmf.characteristic.TimeSeries" *#
#* @vtlvariable name="localeConstraint" type="org.eclipse.esmf.constraint.LocaleConstraint" *#
#* @vtlvariable name="languageConstraint" type="org.eclipse.esmf.constraint.LanguageConstraint" *#
#* @vtlvariable name="list" type="org.eclipse.esmf.characteristic.List" *#
#* @vtlvariable name="code" type="org.eclipse.esmf.characteristic.Code" *#
