#* @implicitly included *#
#* @vtlvariable name="ArrayList" type="java.util.ArrayList" *#
#* @vtlvariable name="Arrays" type="java.lang.Class<java.util.Arrays>" *#
#* @vtlvariable name="Base64BinaryDeserializer" type="java.lang.String" *#
#* @vtlvariable name="Base64BinarySerializer" type="java.lang.String" *#
#* @vtlvariable name="BoundDefinition" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.BoundDefinition>" *#
#* @vtlvariable name="characteristicBaseUrn" type="java.lang.String" *#
#* @vtlvariable name="className" type="java.lang.String" *#
#* @vtlvariable name="Code" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Code>" *#
#* @vtlvariable name="codeGenerationConfig" type="io.openmanufacturing.sds.aspectmodel.java.JavaCodeGenerationConfig" *#
#* @vtlvariable name="Collections" type="java.lang.Class<java.util.Collections>" *#
#* @vtlvariable name="Collection" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Collection>" *#
#* @vtlvariable name="Constraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Constraint>" *#
#* @vtlvariable name="currentYear" type="java.time.Year" *#
#* @vtlvariable name="DatatypeConfigurationException" type="java.lang.Class<javax.xml.datatype.DatatypeConfigurationException>" *#
#* @vtlvariable name="DatatypeConstants" type="java.lang.Class<javax.xml.datatype.DatatypeConstants>" *#
#* @vtlvariable name="DatatypeFactory" type="java.lang.Class<javax.xml.datatype.DatatypeFactory>" *#
#* @vtlvariable name="DataType" type="io.openmanufacturing.sds.aspectmodel.resolver.services.DataType" *#
#* @vtlvariable name="dataType" type="java.lang.String" *#
#* @vtlvariable name="deconstructor" type="io.openmanufacturing.sds.aspectmodel.java.StructuredValuePropertiesDeconstructor" *#
#* @vtlvariable name="DefaultCharacteristic" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultCharacteristic>" *#
#* @vtlvariable name="DefaultCode" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultCode>" *#
#* @vtlvariable name="DefaultCollection" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultCollection>" *#
#* @vtlvariable name="DefaultDuration" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultDuration>" *#
#* @vtlvariable name="DefaultEncodingConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultEncodingConstraint>" *#
#* @vtlvariable name="DefaultEntity" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultEntity>" *#
#* @vtlvariable name="DefaultEnumeration" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultEnumeration>" *#
#* @vtlvariable name="DefaultFixedPointConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultFixedPointConstraint>" *#
#* @vtlvariable name="DefaultLanguageConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultLanguageConstraint>" *#
#* @vtlvariable name="DefaultLocaleConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultLocaleConstraint>" *#
#* @vtlvariable name="DefaultLengthConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultLengthConstraint>" *#
#* @vtlvariable name="DefaultList" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultList>" *#
#* @vtlvariable name="DefaultMeasurement" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultMeasurement>" *#
#* @vtlvariable name="DefaultQuantifiable" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultQuantifiable>" *#
#* @vtlvariable name="DefaultRangeConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultRangeConstraint>" *#
#* @vtlvariable name="DefaultRegularExpressionConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultRegularExpressionConstraint>" *#
#* @vtlvariable name="DefaultScalar" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultScalar>" *#
#* @vtlvariable name="DefaultSet" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultSet>" *#
#* @vtlvariable name="DefaultSingleEntity" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultSingleEntity>" *#
#* @vtlvariable name="DefaultSortedSet" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultSortedSet>" *#
#* @vtlvariable name="DefaultState" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultState>" *#
#* @vtlvariable name="DefaultStructuredValue" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultStructuredValue>" *#
#* @vtlvariable name="DefaultTrait" type="java.lang.Class<io.openmanufacturing.sds.metamodel.impl.DefaultTrait>" *#
#* @vtlvariable name="Duration" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Duration>" *#
#* @vtlvariable name="Either" type="java.lang.Class<io.openmanufacturing.sds.aspectmodel.java.types.Either>" *#
#* @vtlvariable name="element" type="io.openmanufacturing.sds.metamodel.StructureElement" *#
#* @vtlvariable name="EncodingConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.EncodingConstraint>" *#
#* @vtlvariable name="Entity" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Entity>" *#
#* @vtlvariable name="enumeration" type="io.openmanufacturing.sds.metamodel.Enumeration" *#
#* @vtlvariable name="Enumeration" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Enumeration>" *#
#* @vtlvariable name="FixedPointConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.FixedPointConstraint>" *#
#* @vtlvariable name="HexBinaryDeserializer" type="java.lang.String" *#
#* @vtlvariable name="HexBinarySerializer" type="java.lang.String" *#
#* @vtlvariable name="JsonCreator" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonCreator>" *#
#* @vtlvariable name="JsonDeserialize" type="java.lang.Class<com.fasterxml.jackson.databind.annotation.JsonDeserialize>" *#
#* @vtlvariable name="JsonFormat" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonFormat>" *#
#* @vtlvariable name="JsonProperty" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonProperty>" *#
#* @vtlvariable name="JsonSerialize" type="java.lang.Class<com.fasterxml.jackson.databind.annotation.JsonSerialize>" *#
#* @vtlvariable name="JsonValue" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonValue>" *#
#* @vtlvariable name="LanguageConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.LanguageConstraint>" *#
#* @vtlvariable name="LocaleConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.LocaleConstraint>" *#
#* @vtlvariable name="LengthConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.LengthConstraint>" *#
#* @vtlvariable name="List" type="java.lang.Class<io.openmanufacturing.sds.metamodel.List>" *#
#* @vtlvariable name="localeEn" type="java.util.Locale" *#
#* @vtlvariable name="Locale" type="java.lang.Class<java.util.Locale>" *#
#* @vtlvariable name="Map" type="java.lang.Class<java.util.Map>" *#
#* @vtlvariable name="Matcher" type="java.lang.Class<java.util.regex.Matcher>" *#
#* @vtlvariable name="Measurement" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Measurement>" *#
#* @vtlvariable name="modelUrnPrefix" type="java.lang.String" *#
#* @vtlvariable name="nonNegativeInteger" type="io.openmanufacturing.sds.metamodel.Scalar" *#
#* @vtlvariable name="NotNull" type="java.lang.Class<javax.validation.constraints.NotNull>" *#
#* @vtlvariable name="Optional" type="java.lang.Class<java.util.Optional>" *#
#* @vtlvariable name="Pattern" type="java.lang.Class<java.util.regex.Pattern>" *#
#* @vtlvariable name="property" type="io.openmanufacturing.sds.metamodel.Property" *#
#* @vtlvariable name="Quantifiable" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Quantifiable>" *#
#* @vtlvariable name="RangeConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.RangeConstraint>" *#
#* @vtlvariable name="RegularExpressionConstraint" type="java.lang.Class<io.openmanufacturing.sds.metamodel.RegularExpressionConstraint>" *#
#* @vtlvariable name="ResourceFactory" type="org.apache.jena.rdf.model.ResourceFactory" *#
#* @vtlvariable name="Scalar" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Scalar>" *#
#* @vtlvariable name="Set" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Set>" *#
#* @vtlvariable name="SingleEntity" type="java.lang.Class<io.openmanufacturing.sds.metamodel.SingleEntity>" *#
#* @vtlvariable name="SortedSet" type="java.lang.Class<io.openmanufacturing.sds.metamodel.SortedSet>" *#
#* @vtlvariable name="State" type="java.lang.Class<io.openmanufacturing.sds.metamodel.State>" *#
#* @vtlvariable name="StaticConstraintContainerProperty" type="java.lang.Class<io.openmanufacturing.sds.staticmetamodel.constraint.StaticConstraintContainerProperty>" *#
#* @vtlvariable name="StaticConstraintProperty" type="java.lang.Class<io.openmanufacturing.sds.staticmetamodel.constraint.StaticConstraintProperty>" *#
#* @vtlvariable name="StaticConstraintUnitProperty" type="java.lang.Class<io.openmanufacturing.sds.staticmetamodel.constraint.StaticConstraintUnitProperty>" *#
#* @vtlvariable name="StaticContainerProperty" type="java.lang.Class<io.openmanufacturing.sds.staticmetamodel.StaticContainerProperty>" *#
#* @vtlvariable name="StaticUnitProperty" type="java.lang.Class<io.openmanufacturing.sds.staticmetamodel.StaticUnitProperty>" *#
#* @vtlvariable name="StringEscapeUtils" type="org.apache.commons.text.StringEscapeUtils" *#
#* @vtlvariable name="StringUtils" type="org.apache.commons.lang3.StringUtils" *#
#* @vtlvariable name="StructuredValue" type="java.lang.Class<io.openmanufacturing.sds.metamodel.StructuredValue>" *#
#* @vtlvariable name="Trait" type="java.lang.class<io.openmanufacturing.sds.metamodel.Trait>" *#
#* @vtlvariable name="Unit" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Unit>" *#
#* @vtlvariable name="Units" type="java.lang.Class<io.openmanufacturing.sds.metamodel.Units>" *#
#* @vtlvariable name="util" type="io.openmanufacturing.sds.aspectmodel.java.AspectModelJavaUtil" *#
#* @vtlvariable name="valueInitializer" type="io.openmanufacturing.sds.aspectmodel.java.ValueInitializer" *#
#* @vtlvariable name="XSD" type="org.apache.jena.vocabulary.XSD" *#
