#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#
#macro( javaPojoEqualsMethod )
@Override
public boolean equals(final Object o) {
if (this == o) {
    return true;
}
if (o == null || getClass() != o.getClass()) {
    return false;
}
#if ( $element.isComplexType() )
#set( $complexElement = $util.castToComplexType( $element ) )
    #if ( $complexElement.getExtends().isPresent() )
        if ( !super.equals( o ) ) {
            return false;
        }
    #end
#end

    #if( $element.getProperties().isEmpty() ) return true
    #else
        #set( $objectEqualsExpression = $util.objectEqualsExpression( $element ) )
        #if( $objectEqualsExpression && !$objectEqualsExpression.empty )
            final $element.getName() that = ($element.getName())o;
            return $objectEqualsExpression
        #else
            return true
        #end
    #end;
}
#end
