#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#
#parse( "java-pojo-property-lib.vm" )
#parse( "java-pojo-constructor-lib.vm" )
#parse( "java-pojo-getter-lib.vm" )
#parse( "java-pojo-setter-lib.vm" )
#parse( "java-pojo-equals-method-lib.vm" )
#parse( "java-pojo-hashcode-method-lib.vm" )

#macro( javaPojoClassBody )
#set( $className = ${util.generateClassName( $element, $codeGenerationConfig )}+${util.genericClassSignature( $element )} )
/**
* Generated class for $element.getPreferredName( $localeEn ) (${elementUrn}).
*#if ( $element.getDescription( $localeEn ) ) $element.getDescription( $localeEn )#end
*/
@Generated(value = "$codeGeneratorName", date = "$codeGeneratorDate")
#if ( $element.isCollectionAspect() )
${util.determineCollectionAspectClassDefinition( $element, $codeGenerationConfig )} {
#elseif ( $element.isComplexType() )
#set( $complexElement = $util.castToComplexType( $element ) )
${util.generateAbstractEntityClassAnnotations( $complexElement, $codeGenerationConfig, $extendingEntities )}
${util.determineComplexTypeClassDefinition( $complexElement, $codeGenerationConfig )}
#else
public class ${className} {
#end
#foreach( $property in $element.properties )
    #javaPojoProperty( $property )
#end
#foreach( $property in $deconstructor.allProperties )
   #javaPojoProperty( $property )
#end

#javaPojoConstructor()

#foreach( $property in $element.properties )
    #set( $index = $foreach.count - 1 )
    #javaPojoGetter( $property, $index )
#if ( $codeGenerationConfig.enableSetters() )
    #javaPojoSetter( $property, $index, $className )
#end
#end
#foreach( $property in $deconstructor.allProperties )
    #javaPojoGetter( $property, 0 )
#end

    #javaPojoEqualsMethod()

    #javaPojoHashCodeMethod()
}
#end
