#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#
#macro( javaPojoProperty $property )
    #if( !$property.isAbstract() )
        #set( $propertyType = $util.getPropertyType( $property, true, $codeGenerationConfig ) )
        #if( $util.needsValidAnnotation( $property ) )
            $codeGenerationConfig.importTracker().importExplicit( $Valid )
        @Valid
        #end
        #if( !$property.isOptional() && !$property.isNotInPayload() )
            $codeGenerationConfig.importTracker().importExplicit( $NotNull )
        @NotNull
        #end
        #if( $propertyType == 'byte[]' )
            $codeGenerationConfig.importTracker().importExplicit( $JsonSerialize )
            $codeGenerationConfig.importTracker().importExplicit( $JsonDeserialize )
            #if( $property.dataType.get().urn == $XSD.hexBinary.URI )
                $codeGenerationConfig.importTracker().importExplicit( $HexBinarySerializer  )
                $codeGenerationConfig.importTracker().importExplicit( $HexBinaryDeserializer )
            @JsonSerialize( using = HexBinarySerializer.class )
            @JsonDeserialize( using = HexBinaryDeserializer.class )
            #else
                $codeGenerationConfig.importTracker().importExplicit( $Base64BinarySerializer  )
                $codeGenerationConfig.importTracker().importExplicit( $Base64BinaryDeserializer )
            @JsonSerialize( using = Base64BinarySerializer.class )
            @JsonDeserialize( using = Base64BinaryDeserializer.class )
            #end
        #end
        #if( !$property.isOptional() && $Trait.isAssignableFrom( $property.getCharacteristic().get().getClass() ) )
            $util.buildConstraintsForCharacteristic( $util.castToTrait( $property.getCharacteristic().get() ), $codeGenerationConfig )
        #end
    private $propertyType $property.getPayloadName();
    #end
#end
