#header

#docTitle( $aspectModel $i18n )

#diagram( $i18n )

#if( !$aspectModel.getProperties().isEmpty() )
#title( $i18n.getText("docu.label.properties") 1 false)

#set($characteristicList = [])
#foreach( $property in $aspectModelUtil.sortPropertiesByPreferredName( $aspectModel.getProperties(), $i18n.getLocale() ) )
    #set($closeTable = !$foreach.isFirst())
    #property( $property $aspectModelUtil $i18n 3 $closeTable $characteristicList)
#end
|=== ## finally close table opened by property
#end

#if( !$aspectModel.operations.isEmpty() )
#title( $i18n.getText("docu.label.operations") 1 false)
#foreach( $operation in $aspectModelUtil.sortOperationsByPreferredName( $aspectModel.getOperations(), $i18n.getLocale() ))
    #set($closeTable = !$foreach.isFirst())
    #operation( $operation $aspectModelUtil $i18n 3 $closeTable)
#end
|=== ## finally close table opened by property
#end

