#* -- for Header (asciidoc config) ------------------------------------------------ *#
#macro( header )
[#omp-header]
:doctype: book
:icons: font
:stylesdir: static
:docinfo1:
:toc: left
:toclevels: 6
:source-highlighter: coderay
:coderay-css: style
#end

#* -- for Title ------------------------------------------------------------------- *#
#macro( docTitle $aspectModel $i18n)
= Aspect Model $aspectModel.getPreferredName($i18n.getLocale())

$!aspectModel.getDescription($i18n.getLocale())

Aspect Model URN: $aspectModel.getAspectModelUrn().get()
#end

#* -- for List -------------------------------------------------------------------- *#

#macro( list $list )
#foreach($item in $list)
* $item +
#end
#end

#* -- for Section Title ----------------------------------------------------------- *#
#macro( title $title $weight $closeTableBefore)
#if($!{closeTableBefore} != "" && $closeTableBefore != false)
    #set($closeTableBefore = true)
#end
#if($weight <= 1)
#if($closeTableBefore)
|===

#end
= $title
#elseif($weight == 2)
#if($closeTableBefore)
|===

#end
== $title
#elseif($weight == 3)
#if($closeTableBefore)
|===

#end
=== $title
#elseif($weight == 4)
#if($closeTableBefore)
|===

#end
==== $title
#elseif($weight == 5)
#if($closeTableBefore)
|===

#end
===== $title
#elseif($weight == 6)
#if($closeTableBefore)
|===

#end
====== $title
#else
#if($closeTableBefore)
|===

#end
====== $title
#end

#end
