#macro( constraint $constraint $aspectModelUtil $i18n)
#set( $constraintClass = $aspectModelUtil.getClassForObject($constraint).getSimpleName())
#set( $macroToCall = '#' + $constraintClass + '($constraint $aspectModelUtil $i18n)')
! $constraint.getPreferredName($i18n.getLocale()) ! $!constraint.getDescription($i18n.getLocale()) ! #evaluate($!macroToCall)
#end

#*
-------------------------------------------------------------------------------------
Constraints specific macros will be joined together in the main macro (see above)
-------------------------------------------------------------------------------------
*#

#* -- for RangeConstraint -------------------------------------------------------- *#
#macro( RangeConstraint $rangeConstraint $aspectModelUtil $i18n)
#if($rangeConstraint.getMinValue().isPresent())
>#if($rangeConstraint.getLowerBoundDefinition().name().equals("AT_LEAST") || $rangeConstraint.getLowerBoundDefinition().name().equals("AT_MOST") )=#end
 $rangeConstraint.getMinValue().get()
#if($rangeConstraint.getMaxValue().isPresent() )
 ...
#end
#end
#if($rangeConstraint.getMaxValue().isPresent())
<#if($rangeConstraint.getUpperBoundDefinition().name().equals("LESS_THAN") || $rangeConstraint.getUpperBoundDefinition().name().equals("GREATER_THAN") )=#end
 $rangeConstraint.getMaxValue().get()
#end
#end

#* -- for FixedPointConstraint ----------------------------------------------------- *#
#macro( FixedPointConstraint $fixedPointConstraint $aspectModelUtil $i18n)
$i18n.getText("docu.label.scale"): $fixedPointConstraint.getScale()
$i18n.getText("docu.label.integer"): $fixedPointConstraint.getInteger()
#end

#* -- for LengthConstraint --------------------------------------------------------- *#
#macro( LengthConstraint $lengthConstraint $aspectModelUtil $i18n)
#if($lengthConstraint.getMinValue().isPresent())
$i18n.getText("docu.label.min-length"): $lengthConstraint.getMinValue().get()
#end
#if($lengthConstraint.getMaxValue().isPresent())
$i18n.getText("docu.label.max-length"): $lengthConstraint.getMaxValue().get()
#end
#end

#* -- for RegularExpressionConstraint ---------------------------------------------- *#
#macro( RegularExpressionConstraint $regularExpressionConstraint $aspectModelUtil $i18n)
$i18n.getText("docu.label.regex"): $regularExpressionConstraint.getValue()
#end

#* -- for EncodingConstraint ------------------------------------------------------- *#
#macro( EncodingConstraint $encodingConstraint $aspectModelUtil $i18n)
$i18n.getText("docu.label.encoding"): $encodingConstraint.getValue()
#end

#* -- for LocaleConstraint --------------------------------------------------------- *#
#macro( LocaleConstraint $localeConstraint $aspectModelUtil $i18n)
$i18n.getText("docu.label.locale"): $localeConstraint.getLocaleCode()
#end

#* -- for LanguageConstraint ------------------------------------------------------- *#
#macro( LanguageConstraint $languageConstraint $aspectModelUtil $i18n)
$i18n.getText("docu.label.lang-code"): $languageConstraint.getLanguageCode()
#end
