#macro( property $property $aspectModelUtil $i18n $titleWeight $closeTableBefore $characteristicList)
#title( $property.getPreferredName($i18n.getLocale()) $titleWeight $closeTableBefore)

$!property.getDescription($i18n.getLocale())

[cols="30,70 a",width=60%]
|===
|*$i18n.getText("docu.label.name")* |$property.getName()
#if($property.getDataType().isPresent())
|*$i18n.getText(
        "docu.label.type")* |https://openmanufacturingplatform.github.io/sds-bamm-aspect-meta-model/bamm-specification/snapshot/datatypes.html[$property.getDataType().get().getUrn(),window=_blank]
#end
#if($property.getExampleValue())
|*$i18n.getText("docu.label.example")* |$property.getExampleValue()
#end
#if($property.getRefines())
|*$i18n.getText("docu.label.refines")* |$property.getRefines()
#end
|*$i18n.getText("docu.label.optional")* |#if($property.isOptional()) icon:check[role="green"] #else icon:times[role="red"] #end
|*$i18n.getText("docu.label.in-payload")* |#if($property.isNotInPayload()) icon:times[role="red"] #else icon:check[role="green"] #end
|*$i18n.getText("docu.label.payload-name")* |$property.getPayloadName()
#if(!$property.getSee().isEmpty())
|*$i18n.getText("docu.label.see")* | #list($property.getSee())
#end
#set($constraints = $aspectModelUtil.getConstraints($property))
#if(!$constraints.isEmpty())
|*$i18n.getText("docu.label.constraints")* |
[cols="15,45,40 a", options="header"]
!===
! $i18n.getText("docu.label.name") ! $i18n.getText("docu.label.description") ! $i18n.getText("docu.label.definition")
#foreach( $constraint in $constraints )
#constraint( $constraint $aspectModelUtil $i18n)
#end
!===
#end
#set($effectiveCharacteristic = $property.getEffectiveCharacteristic())
#if($effectiveCharacteristic )
|*$i18n.getText("docu.label.base-type")* |$effectiveCharacteristic.getPreferredName($i18n.getLocale())
#characteristic( $effectiveCharacteristic $aspectModelUtil $i18n $titleWeight $characteristicList false)
#end
#end
