#* @implicitly included *#
#* @vtlvariable name="ArrayList" type="java.util.ArrayList" *#
#* @vtlvariable name="Arrays" type="java.lang.Class<java.util.Arrays>" *#
#* @vtlvariable name="Base64BinaryDeserializer" type="java.lang.String" *#
#* @vtlvariable name="Base64BinarySerializer" type="java.lang.String" *#
#* @vtlvariable name="BoundDefinition" type="java.lang.Class<org.eclipse.esmf.metamodel.BoundDefinition>" *#
#* @vtlvariable name="characteristicBaseUrn" type="java.lang.String" *#
#* @vtlvariable name="Charset" type="java.lang.Class<java.nio.charset.Charset>" *#
#* @vtlvariable name="className" type="java.lang.String" *#
#* @vtlvariable name="Code" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Code>" *#
#* @vtlvariable name="codeGenerationConfig" type="org.eclipse.esmf.aspectmodel.java.JavaCodeGenerationConfig" *#
#* @vtlvariable name="Collections" type="java.lang.Class<java.util.Collections>" *#
#* @vtlvariable name="Collection" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Collection>" *#
#* @vtlvariable name="ComplexType" type="java.lang.Class<org.eclipse.esmf.metamodel.ComplexType>" *#
#* @vtlvariable name="Constraint" type="java.lang.Class<org.eclipse.esmf.metamodel.Constraint>" *#
#* @vtlvariable name="context" type="org.eclipse.esmf.aspectmodel.java.metamodel.StaticCodeGenerationContext" *#
#* @vtlvariable name="currentYear" type="java.time.Year" *#
#* @vtlvariable name="DatatypeConfigurationException" type="java.lang.Class<javax.xml.datatype.DatatypeConfigurationException>" *#
#* @vtlvariable name="DatatypeConstants" type="java.lang.Class<javax.xml.datatype.DatatypeConstants>" *#
#* @vtlvariable name="DatatypeFactory" type="java.lang.Class<javax.xml.datatype.DatatypeFactory>" *#
#* @vtlvariable name="dataType" type="java.lang.String" *#
#* @vtlvariable name="deconstructor" type="org.eclipse.esmf.aspectmodel.java.StructuredValuePropertiesDeconstructor" *#
#* @vtlvariable name="DefaultCharacteristic" type="java.lang.Class<org.eclipse.esmf.metamodel.impl.DefaultCharacteristic>" *#
#* @vtlvariable name="DefaultCode" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultCode>" *#
#* @vtlvariable name="DefaultCollection" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultCollection>" *#
#* @vtlvariable name="DefaultDuration" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultDuration>" *#
#* @vtlvariable name="DefaultEncodingConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultEncodingConstraint>" *#
#* @vtlvariable name="DefaultEntity" type="java.lang.Class<org.eclipse.esmf.metamodel.impl.DefaultEntity>" *#
#* @vtlvariable name="DefaultEnumeration" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultEnumeration>" *#
#* @vtlvariable name="DefaultFixedPointConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultFixedPointConstraint>" *#
#* @vtlvariable name="DefaultLanguageConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultLanguageConstraint>" *#
#* @vtlvariable name="DefaultLocaleConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultLocaleConstraint>" *#
#* @vtlvariable name="DefaultLengthConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultLengthConstraint>" *#
#* @vtlvariable name="DefaultList" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultList>" *#
#* @vtlvariable name="DefaultMeasurement" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultMeasurement>" *#
#* @vtlvariable name="DefaultQuantifiable" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultQuantifiable>" *#
#* @vtlvariable name="DefaultRangeConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultRangeConstraint>" *#
#* @vtlvariable name="DefaultRegularExpressionConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.impl.DefaultRegularExpressionConstraint>" *#
#* @vtlvariable name="DefaultScalar" type="java.lang.Class<org.eclipse.esmf.metamodel.impl.DefaultScalar>" *#
#* @vtlvariable name="DefaultScalarValue" type="java.lang.Class<org.eclipse.esmf.metamodel.impl.DefaultScalarValue>" *#
#* @vtlvariable name="DefaultSet" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultSet>" *#
#* @vtlvariable name="DefaultSingleEntity" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultSingleEntity>" *#
#* @vtlvariable name="DefaultSortedSet" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultSortedSet>" *#
#* @vtlvariable name="DefaultState" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultState>" *#
#* @vtlvariable name="DefaultStructuredValue" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultStructuredValue>" *#
#* @vtlvariable name="DefaultTrait" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.impl.DefaultTrait>" *#
#* @vtlvariable name="Duration" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Duration>" *#
#* @vtlvariable name="Either" type="java.lang.Class<org.eclipse.esmf.aspectmodel.java.types.Either>" *#
#* @vtlvariable name="element" type="org.eclipse.esmf.metamodel.StructureElement" *#
#* @vtlvariable name="EncodingConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.EncodingConstraint>" *#
#* @vtlvariable name="Entity" type="java.lang.Class<org.eclipse.esmf.metamodel.Entity>" *#
#* @vtlvariable name="enumeration" type="org.eclipse.esmf.metamodel.characteristic.Enumeration" *#
#* @vtlvariable name="Enumeration" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Enumeration>" *#
#* @vtlvariable name="FixedPointConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.FixedPointConstraint>" *#
#* @vtlvariable name="HashSet" type="java.lang.Class<java.util.HashSet>)" *#
#* @vtlvariable name="HexBinaryDeserializer" type="java.lang.String" *#
#* @vtlvariable name="HexBinarySerializer" type="java.lang.String" *#
#* @vtlvariable name="JsonCreator" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonCreator>" *#
#* @vtlvariable name="JsonDeserialize" type="java.lang.Class<com.fasterxml.jackson.databind.annotation.JsonDeserialize>" *#
#* @vtlvariable name="JsonFormat" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonFormat>" *#
#* @vtlvariable name="JsonProperty" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonProperty>" *#
#* @vtlvariable name="JsonSerialize" type="java.lang.Class<com.fasterxml.jackson.databind.annotation.JsonSerialize>" *#
#* @vtlvariable name="JsonValue" type="java.lang.Class<com.fasterxml.jackson.annotation.JsonValue>" *#
#* @vtlvariable name="KnownVersion" type="java.lang.Class<org.eclipse.esmf.samm.KnownVersion>" *#
#* @vtlvariable name="LangString" type="java.lang.Class<org.eclipse.esmf.metamodel.datatype.LangString>)" *#
#* @vtlvariable name="LanguageConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.LanguageConstraint>" *#
#* @vtlvariable name="LocaleConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.LocaleConstraint>" *#
#* @vtlvariable name="LengthConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.LengthConstraint>" *#
#* @vtlvariable name="List" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.List>" *#
#* @vtlvariable name="localeEn" type="java.util.Locale" *#
#* @vtlvariable name="Locale" type="java.lang.Class<java.util.Locale>" *#
#* @vtlvariable name="Map" type="java.lang.Class<java.util.Map>" *#
#* @vtlvariable name="Matcher" type="java.lang.Class<java.util.regex.Matcher>" *#
#* @vtlvariable name="Measurement" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Measurement>" *#
#* @vtlvariable name="modelUrnPrefix" type="java.lang.String" *#
#* @vtlvariable name="modelVisitor" type="org.eclipse.esmf.aspectmodel.java.metamodel.StaticMetaModelVisitor" *#
#* @vtlvariable name="nonNegativeInteger" type="org.eclipse.esmf.metamodel.Scalar" *#
#* @vtlvariable name="NotNull" type="java.lang.Class<jakarta.validation.constraints.NotNull>" *#
#* @vtlvariable name="Valid" type="java.lang.Class<jakarta.validation.Valid>" *#
#* @vtlvariable name="Object" type="java.lang.Class<java.lang.Object>" *#
#* @vtlvariable name="Optional" type="java.lang.Class<java.util.Optional>" *#
#* @vtlvariable name="Pattern" type="java.lang.Class<java.util.regex.Pattern>" *#
#* @vtlvariable name="property" type="org.eclipse.esmf.metamodel.Property" *#
#* @vtlvariable name="Quantifiable" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Quantifiable>" *#
#* @vtlvariable name="RangeConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.RangeConstraint>" *#
#* @vtlvariable name="RegularExpressionConstraint" type="java.lang.Class<org.eclipse.esmf.metamodel.constraint.RegularExpressionConstraint>" *#
#* @vtlvariable name="ResourceFactory" type="org.apache.jena.rdf.model.ResourceFactory" *#
#* @vtlvariable name="SammType" type="org.eclipse.esmf.metamodel.datatype.SammXsdType" *#
#* @vtlvariable name="Scalar" type="java.lang.Class<org.eclipse.esmf.metamodel.Scalar>" *#
#* @vtlvariable name="Set" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.Set>" *#
#* @vtlvariable name="SingleEntity" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.SingleEntity>" *#
#* @vtlvariable name="SortedSet" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.SortedSet>" *#
#* @vtlvariable name="State" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.State>" *#
#* @vtlvariable name="StaticConstraintContainerProperty" type="java.lang.Class<org.eclipse.esmf.staticmetamodel.constraint.StaticConstraintContainerProperty>" *#
#* @vtlvariable name="StaticConstraintProperty" type="java.lang.Class<org.eclipse.esmf.staticmetamodel.constraint.StaticConstraintProperty>" *#
#* @vtlvariable name="StaticConstraintUnitProperty" type="java.lang.Class<org.eclipse.esmf.staticmetamodel.constraint.StaticConstraintUnitProperty>" *#
#* @vtlvariable name="StaticContainerProperty" type="java.lang.Class<org.eclipse.esmf.staticmetamodel.StaticContainerProperty>" *#
#* @vtlvariable name="StaticUnitProperty" type="java.lang.Class<org.eclipse.esmf.staticmetamodel.StaticUnitProperty>" *#
#* @vtlvariable name="String" type="java.lang.Class<java.lang.String>" *#
#* @vtlvariable name="StringEscapeUtils" type="org.apache.commons.text.StringEscapeUtils" *#
#* @vtlvariable name="StringUtils" type="org.apache.commons.lang3.StringUtils" *#
#* @vtlvariable name="StructuredValue" type="java.lang.Class<org.eclipse.esmf.metamodel.characteristic.StructuredValue>" *#
#* @vtlvariable name="Trait" type="java.lang.class<org.eclipse.esmf.metamodel.characteristic.Trait>" *#
#* @vtlvariable name="Unit" type="java.lang.Class<org.eclipse.esmf.metamodel.Unit>" *#
#* @vtlvariable name="Units" type="java.lang.Class<org.eclipse.esmf.metamodel.Units>" *#
#* @vtlvariable name="util" type="org.eclipse.esmf.aspectmodel.java.AspectModelJavaUtil" *#
#* @vtlvariable name="valueInitializer" type="org.eclipse.esmf.aspectmodel.java.ValueInitializer" *#
#* @vtlvariable name="XSD" type="org.apache.jena.vocabulary.XSD" *#
