#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#

#macro( entity $entity $aspectModelHelper $i18n $weight)
    <div class="pb-10">
        #paragraph( $entity.getPreferredName($i18n.getLocale()) "$entity.getName()-entity" $weight)
        $!entity.getDescription($i18n.getLocale())
        #if(!$entity.getSee().isEmpty())
            $i18n.getText("docu.label.see")
            #list($entity.getSee())
        #end

        #paragraph( $i18n.getText("docu.label.properties") "$entity.getName()-entity-properties" $aspectModelHelper.increment($weight) )
        #foreach( $property in $entity.getProperties() )
            #property( $property $aspectModelHelper $i18n $aspectModelHelper.increment($aspectModelHelper.increment($weight)))
        #end
    </div>
#end
