#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#

#macro( property $property $parentElement $aspectModelHelper $i18n $weight )
<div class="flex flex-col pb-10">

    #paragraph( $property.getPreferredName( $i18n.getLocale() ) "${aspectModelHelper.buildAnchor( $property, $parentElement, 'property' )}" $weight )

    #if( $property.getDescription( $i18n.getLocale() ) )
        #description( $property.getDescription( $i18n.getLocale() ) )
    #end

    <div class="flex border-b pb-1 py-4">
        <div class="w-80">$i18n.getText( "docu.label.name" )</div>
        <div class="w-full">$property.getName()</div>
    </div>

    #if( $property.isAbstract() )
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.abstract" )</div>
            <div class="w-full">
                #if( $property.isAbstract() ) $i18n.getText( "docu.label.yes" ) #end
            </div>
        </div>
    #end

    #if( $property.getExtends().isPresent() )
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.extends" )</div>
            <div class="w-full"><a href="#${aspectModelHelper.buildAnchor( $property.getExtends().get(), $parentElement.getExtends().get(), 'property' )}"
                 class="break-all underline">$property.getExtends().get().getPreferredName( $i18n.getLocale() )</a>
            </div>
        </div>
    #end

    #if( $property.getCharacteristic() )
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.characteristic" )</div>
            <div class="w-full">
                #characteristic( $property.getCharacteristic()$aspectModelHelper $i18n $weight )
            </div>
        </div>
    #end

    #if( $property.getExampleValue() )
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.example" )</div>
            <div class="w-full">$property.getExampleValue().get()</div>
        </div>
    #end

    <div class="flex border-b pb-1 py-4">
        <div class="w-80">$i18n.getText( "docu.label.optional" )</div>
        <div class="w-full">
            #if( $property.isOptional() ) $i18n.getText( "docu.label.yes" ) #else $i18n.getText( "docu.label.no" ) #end
        </div>
    </div>

    <div class="flex border-b pb-1 py-4">
        <div class="w-80">$i18n.getText( "docu.label.in-payload" )</div>
        <div class="w-full">
            #if( $property.isNotInPayload() ) $i18n.getText( "docu.label.no" ) #else $i18n.getText( "docu.label.yes" ) #end
        </div>
    </div>

    <div class="flex border-b pb-1 py-4">
        <div class="w-80">$i18n.getText( "docu.label.payload-name" )</div>
        <div class="w-full">$property.getPayloadName()</div>
    </div>

    #if( !$property.getSee().isEmpty() )
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.see" )</div>
            #list( $property.getSee() )
        </div>
    #end

    #set( $constraints = $aspectModelHelper.getConstraints( $property ) )
    #if(!$constraints.isEmpty())
        <div class="flex border-b pb-1 py-4">
            <div class="w-80">$i18n.getText( "docu.label.constraints" )</div>
            <div class="w-full">
               <ul class="reset-all-styles m-0 property-constraints">
                   #foreach( $constraint in $constraints )
                       <li>#constraint( $constraint $aspectModelHelper $i18n )</li>
                   #end
               </ul>
            </div>
        </div>
    #end
</div>
#end
