#parse( "java-pojo-class-body-lib.vm" )
#set( $classBody = $util.applyImports( "#javaPojoClassBody()", $codeGenerationConfig ) )
#copyrightHeader
package $codeGenerationConfig.getPackageName();

#foreach( $import in $codeGenerationConfig.getImportTracker().getUsedImportsWithoutJavaLang() )
import $import;
#end
#foreach( $import in $codeGenerationConfig.getImportTracker().getUsedStaticImports() )
import $import;
#end

$classBody
