#macro( javaEnumerationClassBody )
$codeGenerationConfig.importTracker.importExplicit( $Optional )
$codeGenerationConfig.importTracker.importExplicit( $Arrays )
#if( $codeGenerationConfig.doEnableJacksonAnnotations() )
    $codeGenerationConfig.importTracker.importExplicit( $JsonValue )
    $codeGenerationConfig.importTracker.importExplicit( $JsonFormat )
    $codeGenerationConfig.importTracker.importExplicit( $JsonCreator )
#end

/**
* Generated class {@link ${enumeration.name}}.
*/
#if( $codeGenerationConfig.doEnableJacksonAnnotations() )@JsonFormat(shape = JsonFormat.Shape.OBJECT) #end
public enum ${enumeration.name} {
#foreach( $value in $enumeration.values )
    $util.generateEnumKey($enumeration.dataType, $value, $codeGenerationConfig)($util.generateEnumValue($enumeration.getDataType(), $value, false, $codeGenerationConfig))
    #if( $foreach.hasNext), #end
#end;

private $dataType value;

$className($dataType value) {
    this.value = value;
}

#if( $codeGenerationConfig.doEnableJacksonAnnotations() )@JsonCreator #end
static ${className} enumDeserializationConstructor($dataType value) {
    return fromValue(value).orElseThrow(() -> new EnumAttributeNotFoundException("Tried to parse value \"" + value + "\", but there is no enum field like that in ${className}"));
}

#if( $codeGenerationConfig.doEnableJacksonAnnotations() )@JsonValue #end
public $dataType getValue() {
    return value;
}

#if( $State.isAssignableFrom( $enumeration.class ) )
public static $className getDefaultValue() {
    #set( $state = $State.cast( $enumeration ) )
    return $util.generateEnumKey( $enumeration.getDataType(), $state.getDefaultValue(), $codeGenerationConfig );
}
#end

public static Optional<$className> fromValue($dataType value) {
    return Arrays.stream(${className}.values())
        .filter(enumValue -> compareEnumValues(enumValue, value))
        .findAny();
}

private static boolean compareEnumValues($className enumValue, $dataType value) {
    return $util.generateFilterCompare( $enumeration.getDataType() );
}

}
#end
