#macro( javaPojoProperty $property )
#set( $propertyType = $util.getPropertyType( $property, true, $codeGenerationConfig ) )
#if( !$property.isOptional() )
    $codeGenerationConfig.getImportTracker().importExplicit( $NotNull )
@NotNull
#end
#if( $propertyType == 'byte[]' )
    $codeGenerationConfig.getImportTracker().importExplicit( $JsonSerialize )
    $codeGenerationConfig.getImportTracker().importExplicit( $JsonDeserialize )
    #if( $property.dataType.get().urn == $XSD.hexBinary.URI )
        $codeGenerationConfig.getImportTracker().importExplicit( $HexBinarySerializer  )
        $codeGenerationConfig.getImportTracker().importExplicit( $HexBinaryDeserializer )
        @JsonSerialize( using = HexBinarySerializer.class )
        @JsonDeserialize( using = HexBinaryDeserializer.class )
    #else
        $codeGenerationConfig.getImportTracker().importExplicit( $Base64BinarySerializer  )
        $codeGenerationConfig.getImportTracker().importExplicit( $Base64BinaryDeserializer )
        @JsonSerialize( using = Base64BinarySerializer.class )
        @JsonDeserialize( using = Base64BinaryDeserializer.class )
    #end
#end
#if( $Trait.isAssignableFrom( $property.getCharacteristic().getClass() ) )
    $util.buildConstraintsForCharacteristic( $Trait.cast( $property.characteristic ), $codeGenerationConfig )
#end
private $propertyType $property.getPayloadName();
#end
