#macro( methodName )
    #if( $property.getDataType().isPresent() )
        #set( $type = $property.dataType.get() )
        #if( $type.isScalar() && $type.getUrn().equals( $XSD.xboolean.getURI() ) )is#{else}get#{end}
    #{else}get#{end}${StringUtils.capitalize( $property.getPayloadName() )}#{end}

#macro( javaPojoGetter $property )
#set( $propertyType = $util.getPropertyType( $property, false, $codeGenerationConfig ) )
/**
* Returns $property.getPreferredName( $localeEn )
*
* @return {@link #$property.getPayloadName()}
*/
#if( $util.isPropertyNotInPayload( $property, $codeGenerationConfig ) )@JsonIgnore #end
public $propertyType #methodName()() {
   return this.$property.getPayloadName();
}
#end
