#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#
#macro( methodName )
    #if( $property.getDataType().isPresent() )
        #set( $type = $property.dataType.get() )
        #if( $type.isScalar() && $type.getUrn().equals( $XSD.xboolean.getURI() ) )is#{else}get#{end}
    #{else}get#{end}${StringUtils.capitalize( $property.getPayloadName() )}#{end}

#macro( javaPojoGetter $property $propertyIndex )

/**
* Returns $property.getPreferredName( $localeEn )
*
* @return {@link #$property.getPayloadName()}
*/
#if( $property.isAbstract() )
    public abstract T${propertyIndex}  #methodName()();
#else
    #set( $propertyType = $util.getPropertyType( $property, false, $codeGenerationConfig ) )
    #if( $property.getExtends().isPresent() )@Override #end
    #if( $util.isPropertyNotInPayload( $property, $codeGenerationConfig ) )@JsonIgnore #end
public $propertyType #methodName()() {
    return this.$property.getPayloadName();
}
#end
#end
