#parse( "java-enumeration-class-body-lib.vm" )
#set( $classBody = $util.applyImports( "#javaEnumerationClassBody()", $importTracker ) )
#copyrightHeader
package $packageName;

#foreach( $import in $importTracker.usedImportsWithoutJavaLang )
import $import;
#end

$classBody

