#**
 ~ Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH
 ~
 ~ See the AUTHORS file(s) distributed with this work for additional
 ~ information regarding authorship.
 ~
 ~ This Source Code Form is subject to the terms of the Mozilla Public
 ~ License, v. 2.0. If a copy of the MPL was not distributed with this
 ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
 ~
 ~ SPDX-License-Identifier: MPL-2.0
 *#
#macro( javaPojoEqualsMethod )
@Override
public boolean equals(final Object o) {
if (this == o) {
    return true;
}
if (o == null || getClass() != o.getClass()) {
    return false;
}
#if ( $element.isComplex() )
#set( $complexElement = $ComplexType.cast( $element ) )
    #if ( $complexElement.getExtends().isPresent() )
        if ( !super.equals( o ) ) {
            return false;
        }
    #end
#end
final $element.getName() that = ($element.getName())o;
    return
    #if( $element.getProperties().isEmpty() ) true
    #else
        #foreach( $property in $element.getProperties() )
            Objects.equals(${property.getPayloadName()}, that.${property.getPayloadName()})
            #if( $foreach.hasNext) && #end
        #end
    #end;
}
#end
