#macro( propertyDeclaration ) public static final #end

#macro( getConstraintClassName )
    #set( $trait = $Trait.cast( $property.getCharacteristic() ) )
    $trait.getConstraints().iterator().next().getClass().getSimpleName()
#end

#macro( getCharacteristicClassName )
    $property.getEffectiveCharacteristic().getClass().getSimpleName()
#end

#macro( extendsComplexType $complexType )
    #if( $complexType.getExtends().isPresent() )
        #set( $extendedComplexType = $complexType.getExtends().get() )
        #if ( $Entity.isAssignableFrom( $extendedComplexType.class ) )
            #set( $entityType = $Entity.cast( $extendedComplexType ) )
            $codeGenerationConfig.getImportTracker().importExplicit( $DefaultEntity )
            Optional.of(DefaultEntity.createDefaultEntity(MetaModelBaseAttributes.from(KnownVersion.$characteristic.getMetaModelVersion(),
                #elementUrn( $entityType ), "$entityType.getName()" ),
            Meta${entityType.getName()}.INSTANCE.getProperties(),
            #extendsComplexType( $entityType )
            )
        )
        #else
            #set( $abstractEntityType = $AbstractEntity.cast( $extendedComplexType ) )
            $codeGenerationConfig.getImportTracker().importExplicit( $DefaultAbstractEntity )
            Optional.of(DefaultAbstractEntity.createDefaultAbstractEntity(MetaModelBaseAttributes.from(KnownVersion.$characteristic.getMetaModelVersion(),
                #elementUrn( $abstractEntityType ), "$abstractEntityType.getName()" ),
            Meta${abstractEntityType.name}.INSTANCE.getProperties(),
            #extendsComplexType( $abstractEntityType ),
            List.of(
            #foreach( $extendingComplexType in $abstractEntityType.getExtendingElements() )
                AspectModelUrn.fromUrn( "$extendingComplexType.getUrn()" )
                #if( $foreach.hasNext ), #end
            #end
            ))
            )
        #end
    #else
        Optional.empty()
    #end
#end

#* @vtlvariable name="characteristic" type="io.openmanufacturing.sds.metamodel.Characteristic" *#
#* @vtlvariable name="trait" type="io.openmanufacturing.sds.metamodel.Trait" *#
#macro( characteristicDataType $characteristic )
    #if( $Trait.isAssignableFrom( $characteristic.getClass() ) )
        #set( $trait = $Trait.cast( $characteristic ) )
        #characteristicDataType( $trait.getBaseCharacteristic() )
    #else
        #if( $characteristic.getDataType().isEmpty() )
            Optional.empty()
        #else
            #set( $type = $characteristic.getDataType().get() )
            #if( $Scalar.isAssignableFrom( $type.getClass() ) )
                $codeGenerationConfig.getImportTracker().importExplicit( $DefaultScalar )
                Optional.of(new DefaultScalar("$type.getUrn()", KnownVersion.$characteristic.getMetaModelVersion()))
            #elseif( $Entity.isAssignableFrom( $type.getClass() ) )
                #set( $entityType = $Entity.cast( $type ) )
                $codeGenerationConfig.getImportTracker().importExplicit( $DefaultEntity )
                Optional.of(DefaultEntity.createDefaultEntity(MetaModelBaseAttributes.from(KnownVersion.$characteristic.getMetaModelVersion(),
                     #elementUrn( $type ), "$entityType.getName()" ),
                   Meta${entityType.getName()}.INSTANCE.getProperties(),
                   #extendsComplexType( $entityType )
                  )
                )
            #elseif( $AbstractEntity.isAssignableFrom( $type.getClass() ) )
                #set( $abstractEntityType = $AbstractEntity.cast( $type ) )
                $codeGenerationConfig.getImportTracker().importExplicit( $DefaultAbstractEntity )
                Optional.of(DefaultAbstractEntity.createDefaultAbstractEntity(MetaModelBaseAttributes.from(KnownVersion.$characteristic.getMetaModelVersion(),
                    #elementUrn( $abstractEntityType ), "$abstractEntityType.getName()" ),
                Meta${abstractEntityType.getName()}.INSTANCE.getProperties(),
                #extendsComplexType( $abstractEntityType ),
                List.of(
                #foreach( $extendingComplexType in $abstractEntityType.getExtendingElements() )
                    AspectModelUrn.fromUrn( "$extendingComplexType.getUrn()" )
                    #if( $foreach.hasNext ), #end
                #end
                ))
              )
            #else
                "Unknown characteristic data type $type"
            #end
        #end
    #end
#end

#* @vtlvariable name="element" type="io.openmanufacturing.sds.metamodel.IsDescribed" *#
#macro( elementUrn $element )
    #if( !$element.getAspectModelUrn().isPresent() )
        null
    #elseif( $element.getAspectModelUrn().get().toString().startsWith( $modelUrnPrefix ) )
        AspectModelUrn.fromUrn( NAMESPACE + "$element.getName()" )
    #elseif( $element.getAspectModelUrn().get().toString().startsWith( $characteristicBaseUrn ) )
        AspectModelUrn.fromUrn( CHARACTERISTIC_NAMESPACE + "#$element.getName()" )
    #else
        AspectModelUrn.fromUrn( "$element.aspectModelUrn.get().toString()" )
    #end
#end

#* @vtlvariable name="optionalValue" type="java.util.Optional<java.lang.Object>" *#
#* @vtlvariable name="dataType" type="io.openmanufacturing.sds.metamodel.Type" *#
#macro( getOptionalStaticDeclarationValue $dataType $optionalValue $metaModelVersion )
    #if( $optionalValue.isEmpty() )
        Optional.empty()
    #else
        #set( $objectClass = $optionalValue.get().getClass() )
        $codeGenerationConfig.getImportTracker().importExplicit( $objectClass )
        #set( $xsdType = $ResourceFactory.createResource( $dataType.getUrn() ) )
        #set( $valueExpression = $optionalValue.get().toString() )
        #if( $dataType.getUrn().endsWith( "#float" ) )
             #set( $valueExpression = "${valueExpression}f" )
        #end
        #if( $dataType.getUrn().endsWith( "#integer" )
          || $dataType.getUrn().endsWith( "#decimal" )
          || $dataType.getUrn().endsWith( "#unsignedLong" )
          || $dataType.getUrn().endsWith( "#positiveInteger" )
          || $dataType.getUrn().endsWith( "#nonNegativeInteger" )
          || $dataType.getUrn().endsWith( "#negativeInteger" )
          || $dataType.getUrn().endsWith( "#nonPositiveInteger" ) )
          #set( $valueExpression = """${valueExpression}""" )
        #else
          #set( $valueExpression = "$StringEscapeUtils.escapeJava( $valueExpression )" )
        #end
        Optional.of( $valueInitializer.apply( $xsdType, "${valueExpression}", $metaModelVersion ) )
    #end
#end

#* @vtlvariable name="element" type="io.openmanufacturing.sds.metamodel.Base" *#
#macro( getMetaModelBaseAttributes $element )
    #if( $element.getPreferredNames().isEmpty() && $element.getDescriptions().isEmpty() && $element.getSee().isEmpty() )
        MetaModelBaseAttributes.from(KnownVersion.$element.metaModelVersion.toString(), #elementUrn( $property ), "$element.getName()")
    #else
        MetaModelBaseAttributes.builderFor("$element.getName()")
           .withMetaModelVersion(KnownVersion.$element.getMetaModelVersion().toString())
           .withUrn( #elementUrn( $element ) )
        #foreach( $locale in $element.getPreferredNames().keySet() )
           .withPreferredName( Locale.forLanguageTag( "$locale.toLanguageTag()" ), "$StringEscapeUtils.escapeJava( $element.getPreferredNames().get( $locale ) )" )
        #end
        #foreach( $locale in $element.getDescriptions().keySet() )
            .withDescription( Locale.forLanguageTag( "$locale.toLanguageTag()" ), "$StringEscapeUtils.escapeJava( $element.getDescriptions().get( $locale ) )" )
        #end
        #foreach( $see in $element.getSee() )
            .withSee( "$StringEscapeUtils.escapeJava( $see )" )
        #end
        .build()
    #end
#end

#macro( elementCharacteristic $characteristic $propertyTypeName )
    #set( $elementCharacterstic = $Collection.cast($characteristic).getElementCharacteristic() )
    #if ( $elementCharacterstic.isPresent() )
        Optional.of( #propertyCharacteristic( $elementCharacterstic.get(), $propertyTypeName ) )
    #else
        Optional.empty()
    #end
#end

#* @vtlvariable name="characteristic" type="io.openmanufacturing.sds.metamodel.Characteristic" *#
#macro( propertyCharacteristic $characteristic $propertyTypeName )
    #if( $SingleEntity.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultSingleEntity )
        new DefaultSingleEntity( #getMetaModelBaseAttributes( $characteristic ),
        #characteristicDataType( $characteristic ) )
    #elseif( $Collection.isAssignableFrom( $characteristic.getClass() ) )
        #if( $List.isAssignableFrom( $characteristic.getClass() ) )
            #set( $collectionType = $DefaultList )
        #elseif( $Set.isAssignableFrom( $characteristic.getClass() ) )
            #set( $collectionType = $DefaultSet )
        #elseif( $SortedSet.isAssignableFrom( $characteristic.getClass() ) )
            #set( $collectionType = $DefaultSortedSet )
        #else
            #set( $collectionType = $DefaultCollection )
        #end
        $codeGenerationConfig.getImportTracker().importExplicit( $collectionType )
        new ${collectionType.simpleName}( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ), #elementCharacteristic( $characteristic $propertyTypeName ) )
    #elseif( $Code.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultCode )
        new DefaultCode( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ) )
        #elseif( $Duration.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultDuration )
        new DefaultDuration( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
            #set( $quantifiable = $Quantifiable.cast( $characteristic ) )
            $codeGenerationConfig.getImportTracker().importExplicit( $Units )
            Units.fromName("$quantifiable.unit.get().getName()")
        )
    #elseif( $Measurement.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultMeasurement )
        new DefaultMeasurement( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
            #set( $quantifiable = $Quantifiable.cast( $characteristic ) )
            $codeGenerationConfig.getImportTracker().importExplicit( $Units )
            Units.fromName("$quantifiable.unit.get().getName()")
        )
    #elseif( $Quantifiable.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultQuantifiable )
        new DefaultQuantifiable( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
            #if ( $util.hasUnit( $characteristic ) )
                #set( $quantifiable = $Quantifiable.cast( $characteristic ) )
                $codeGenerationConfig.getImportTracker().importExplicit( $Units )
                Units.fromName("$quantifiable.unit.get().getName()")
            #else
                Optional.empty()
            #end
        )
    #elseif( $State.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultState  )
        #set( $state = $State.cast( $characteristic ) )
        new DefaultState( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
            #if ($property.isOptional())
                List.of( ${characteristic.getName()}.values() )
            #else
                List.of( ${propertyTypeName}.values() ),
            #end
            ${propertyTypeName}.${util.generateEnumKey( $characteristic.dataType, $state.defaultValue, $codeGenerationConfig )} )
    #elseif( $Enumeration.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultEnumeration )
        new DefaultEnumeration( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
                #if ($property.isOptional())
                    List.of( ${characteristic.getName()}.values() ) )
                #else
                    List.of( ${propertyTypeName}.values() ) )
                #end
    #elseif( $StructuredValue.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultStructuredValue )
        #set( $structuredValue = $StructuredValue.cast( $characteristic ) )
        new DefaultStructuredValue( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ),
            "$StringEscapeUtils.escapeJava( $structuredValue.getDeconstructionRule() )",
            Arrays.asList(
                #foreach( $structuredValueElement in $structuredValue.getElements() )
                    $util.printStructuredValueElement( $structuredValueElement )
                    #if( $foreach.hasNext ),#end
                #end
            ) )
    #elseif( $Trait.isAssignableFrom( $characteristic.getClass() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultTrait )
        #set( $trait = $Trait.cast( $characteristic ) )
        new DefaultTrait( #getMetaModelBaseAttributes( $characteristic ),
           #propertyCharacteristic( $trait.baseCharacteristic, $propertyTypeName ),
           Arrays.asList(
                #foreach( $constraint in $trait.getConstraints() )
                    #propertyConstraint( $constraint )
                    #if( $foreach.hasNext ),#end
                #end
           ) )
    #else
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultCharacteristic )
        new DefaultCharacteristic( #getMetaModelBaseAttributes( $characteristic ),
            #characteristicDataType( $characteristic ) )
    #end
#end

#macro( propertyConstraint $characteristic )
    #if( $LengthConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $LengthConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultLengthConstraint )
        new DefaultLengthConstraint( #getMetaModelBaseAttributes( $characteristic ),
            #getOptionalStaticDeclarationValue( $nonNegativeInteger, $constraint.getMinValue(), $property.getMetaModelVersion() ),
            #getOptionalStaticDeclarationValue( $nonNegativeInteger, $constraint.getMaxValue(), $property.getMetaModelVersion() ) )
    #elseif( $RangeConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $RangeConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultRangeConstraint  )
        $codeGenerationConfig.getImportTracker().importExplicit( $BoundDefinition )
        new DefaultRangeConstraint( #getMetaModelBaseAttributes( $characteristic ),
            #getOptionalStaticDeclarationValue( $property.dataType.get(), $constraint.getMinValue(), $property.getMetaModelVersion() ),
            #getOptionalStaticDeclarationValue( $property.dataType.get(), $constraint.getMaxValue(), $property.getMetaModelVersion() ),
            BoundDefinition.${constraint.getLowerBoundDefinition().name()},
            BoundDefinition.${constraint.getUpperBoundDefinition().name()} )
    #elseif( $RegularExpressionConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $RegularExpressionConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultRegularExpressionConstraint )
        new DefaultRegularExpressionConstraint( #getMetaModelBaseAttributes( $characteristic ),
            "$constraint.getValue()" )
    #elseif( $EncodingConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $EncodingConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultEncodingConstraint )
        new DefaultEncodingConstraint( #getMetaModelBaseAttributes( $characteristic ),
            "$constraint.getValue()" )
    #elseif( $LanguageConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $LanguageConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultLanguageConstraint )
        new DefaultLanguageConstraint( #getMetaModelBaseAttributes( $characteristic ),
            $constraint.getLanguageCode() )
    #elseif( $LocaleConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $LocaleConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultLocaleConstraint )
        new DefaultLocaleConstraint( #getMetaModelBaseAttributes( $characteristic ),
            $constraint.getLocaleCode() )
    #elseif( $FixedPointConstraint.isAssignableFrom( $characteristic.getClass() ) )
        #set( $constraint = $FixedPointConstraint.cast( $characteristic ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $DefaultFixedPointConstraint )
        new DefaultFixedPointConstraint( #getMetaModelBaseAttributes( $characteristic ),
            $constraint.getScale(), $constraint.getInteger() )
    #else
        "Unknown constraint $characteristic.getName()"
    #end
#end

#macro( javaStaticClassProperty $property $codeGenerationConfig )
#set( $propertyType = $util.getPropertyType( $property, $codeGenerationConfig ) )

## public static final $type $property = new $type(
#if( $Trait.isAssignableFrom( $property.getCharacteristic().getClass() ) )
    $codeGenerationConfig.getImportTracker().importExplicit( $StaticConstraintProperty )
    #if( $util.hasContainerType( $property ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $StaticConstraintContainerProperty )
        #set( $containedType = $util.getCharacteristicJavaType( $property, $codeGenerationConfig ) )
        #propertyDeclaration() StaticConstraintContainerProperty<$containedType, $propertyType, #getConstraintClassName(), #getCharacteristicClassName()>
          $util.toConstant( $property.getName() ) = new StaticConstraintContainerProperty<$containedType, $propertyType, #getConstraintClassName(),
          #getCharacteristicClassName()>(
    #elseif( $util.hasUnit( $property.getCharacteristic() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $StaticConstraintUnitProperty )
        $codeGenerationConfig.getImportTracker().importExplicit( $Unit )
        #propertyDeclaration() StaticConstraintUnitProperty<$propertyType, #getConstraintClassName(), #getCharacteristicClassName()>
          $util.toConstant( $property.getName() ) = new StaticConstraintUnitProperty<$propertyType, #getConstraintClassName(), #getCharacteristicClassName()>(
    #else
        #propertyDeclaration() StaticConstraintProperty<$propertyType, #getConstraintClassName(), #getCharacteristicClassName()>
          $util.toConstant( $property.getName() ) = new StaticConstraintProperty<$propertyType, #getConstraintClassName(), #getCharacteristicClassName()>(
    #end
#else
    #if( $util.hasContainerType( $property ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $StaticContainerProperty )
        #set( $containedType = $util.getCharacteristicJavaType( $property, $codeGenerationConfig ) )
        #propertyDeclaration() StaticContainerProperty<$containedType, $propertyType> $util.toConstant( $property.getName() ) =
          new StaticContainerProperty<$containedType, $propertyType> (
    #elseif( $util.hasUnit( $property.getCharacteristic() ) )
        $codeGenerationConfig.getImportTracker().importExplicit( $StaticUnitProperty )
        $codeGenerationConfig.getImportTracker().importExplicit( $Unit )
        #propertyDeclaration() StaticUnitProperty<$propertyType> $util.toConstant( $property.getName() ) =
          new StaticUnitProperty<$propertyType>(
    #else
        #propertyDeclaration() StaticProperty<$propertyType> $util.toConstant( $property.getName() ) =
          new StaticProperty<$propertyType>(
    #end
#end

## $arg1, $arg2, ... ) {
#getMetaModelBaseAttributes( $property ),
#propertyCharacteristic( $property.getCharacteristic(), $propertyType ),
Optional.empty(),
$property.isOptional(),
$property.isNotInPayload(),
Optional.of("$property.getPayloadName()")
) {

## Body
#if( $Trait.isAssignableFrom( $property.getCharacteristic().getClass() ) )
    @Override
    public #getConstraintClassName() getConstraint() {
        return (#getConstraintClassName())((Trait)getCharacteristic()).getConstraints().iterator().next();
    }

    @Override
    public #getCharacteristicClassName() getBaseCharacteristic() {
       return (#getCharacteristicClassName())((Trait)getCharacteristic()).getBaseCharacteristic();
    }
#end

#if( $util.hasContainerType( $property ) || ${propertyType.contains( "Either" )} )
    @SuppressWarnings("unchecked")
#end
    @Override
    public Class<$propertyType> getPropertyType() {
#if( $util.hasContainerType( $property ) )
        return (Class)${codeGenerationConfig.getImportTracker().getRawContainerType( $propertyType )}.class;
#else
    #if( ${propertyType.contains( "Either" )} )
        return (Class)Either.class;
    #else
        return ${propertyType}.class;
    #end
#end
    }

#if( $util.hasContainerType( $property ) && !$propertyType.startsWith( "Map" ) )
    @Override
    public Class<$containedType> getContainedType() {
       return ${containedType}.class;
    }
#end

#if( $util.hasUnit( $property.getCharacteristic() ) )
    $codeGenerationConfig.getImportTracker().importExplicit( $Units )
    @Override
    public Unit getUnit() {
       return Units.fromName("$Quantifiable.cast( $property.getCharacteristic() ).unit.get().getName()")
          .orElseThrow(() -> new RuntimeException("Unknown unit: $Quantifiable.cast( $property.getCharacteristic() ).getUnit().get().getName()"));
    }
#end

};
#end
