#macro( javaPojoEqualsMethod )
@Override
public boolean equals(final Object o) {
if (this == o) {
    return true;
}
if (o == null || getClass() != o.getClass()) {
    return false;
}
final $element.getName() that = ($element.getName())o;
    return #foreach( $property in $element.getProperties() )
        Objects.equals(${property.getPayloadName()}, that.${property.getPayloadName()})
        #if( $foreach.hasNext) && #end
    #end;
}
#end
