#* @implicitly included *#
#* @vtlvariable name="aspectModel" type="io.openmanufacturing.sds.metamodel.Aspect" *#
#* @vtlvariable name="property" type="io.openmanufacturing.sds.metamodel.Property" *#
#* @vtlvariable name="characteristic" type="io.openmanufacturing.sds.metamodel.Characteristic" *#
#* @vtlvariable name="constraint" type="io.openmanufacturing.sds.metamodel.Constraint" *#
#* @vtlvariable name="entity" type="io.openmanufacturing.sds.metamodel.Entity" *#
#* @vtlvariable name="i18n" type="io.openmanufacturing.sds.aspectmodel.generator.I18nLanguageBundle" *#
#* @vtlvariable name="operation" type="io.openmanufacturing.sds.metamodel.Operation" *#
#* @vtlvariable name="aspectModelUtil" type="io.openmanufacturing.sds.aspectmodel.generator.AspectModelUtil" *#
#* @vtlvariable name="Class" type="java.lang.Class" *#
#* @vtlvariable name="measurement" type="io.openmanufacturing.sds.metamodel.Measurement" *#
#* @vtlvariable name="unit" type="io.openmanufacturing.sds.metamodel.Unit" *#
#* @vtlvariable name="quantityKind" type="io.openmanufacturing.sds.metamodel.QuantityKind" *#
#* @vtlvariable name="state" type="io.openmanufacturing.sds.metamodel.State" *#
#* @vtlvariable name="duration" type="io.openmanufacturing.sds.metamodel.Duration" *#
#* @vtlvariable name="Quantifiable" type="io.openmanufacturing.sds.metamodel.Quantifiable" *#
#* @vtlvariable name="encodingConstraint" type="io.openmanufacturing.sds.metamodel.EncodingConstraint" *#
#* @vtlvariable name="regularExpressionConstraint" type="io.openmanufacturing.sds.metamodel.RegularExpressionConstraint" *#
#* @vtlvariable name="lengthConstraint" type="io.openmanufacturing.sds.metamodel.LengthConstraint" *#
#* @vtlvariable name="fixedPointConstraint" type="io.openmanufacturing.sds.metamodel.FixedPointConstraint" *#
#* @vtlvariable name="structuredValue" type="io.openmanufacturing.sds.metamodel.StructuredValue" *#
#* @vtlvariable name="collection" type="io.openmanufacturing.sds.metamodel.Collection" *#
#* @vtlvariable name="enumeration" type="io.openmanufacturing.sds.metamodel.Enumeration" *#
#* @vtlvariable name="rangeConstraint" type="io.openmanufacturing.sds.metamodel.RangeConstraint" *#
#* @vtlvariable name="either" type="io.openmanufacturing.sds.metamodel.Either" *#
#* @vtlvariable name="scalar" type="io.openmanufacturing.sds.metamodel.Scalar" *#
#* @vtlvariable name="entity" type="io.openmanufacturing.sds.metamodel.Entity" *#
#* @vtlvariable name="singleEntity" type="io.openmanufacturing.sds.metamodel.SingleEntity" *#
#* @vtlvariable name="map" type="java.util.HashMap<java.lang.String,Object>" *#
#* @vtlvariable name="timeSeries" type="io.openmanufacturing.sds.metamodel.TimeSeries" *#
#* @vtlvariable name="localeConstraint" type="io.openmanufacturing.sds.metamodel.LocaleConstraint" *#
#* @vtlvariable name="languageConstraint" type="io.openmanufacturing.sds.metamodel.LanguageConstraint" *#
#* @vtlvariable name="list" type="io.openmanufacturing.sds.metamodel.List" *#
#* @vtlvariable name="code" type="io.openmanufacturing.sds.metamodel.Code" *#
