name: Dependency Update

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  
permissions: {}

jobs:
  dependency:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8
