name: Check New Pull Request
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'documentation/decisions/**'

permissions: {}

jobs:
  build-and-test:
    name: ${{ matrix.os }} build
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest, ubuntu-latest, macos-15-intel]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          submodules: recursive
          persist-credentials: false

      - name: Check code style
        if: matrix.os == 'ubuntu-latest'
        uses: dbelyaev/action-checkstyle@e89baf0f8b488b946345b7de8e975be1e3606387 # v1.5.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          checkstyle_config: esmf-checkstyle.xml
          level: warning
          fail_on_error: true

      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: '21.0.7'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configure Pagefile (Windows)
        if: matrix.os == 'windows-latest'
        # Fix for "LINK : fatal error LNK1171: unable to load mspdbcore.dll (error code: 1455)":
        # This seems to be caused by running out of memory; increasing page file
        # size suggested here:
        # https://github.com/actions/virtual-environments/issues/3420#issuecomment-861342418
        uses: al-cheb/configure-pagefile-action@86589fd789a4de3e62ba628dda2cb10027b66d67 # v1.3
        with:
          minimum-size: 32GB
          maximum-size: 32GB
          disk-root: "C:"

      - name: Set Swap Space (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: pierotofy/set-swap-space@49819abfb41bd9b44fb781159c033dba90353a7c # master
        with:
          swap-size-gb: 12

      - name: Build and run tests
        run: |
          java --version
          export MAVEN_OPTS="-Xmx4096m"
          export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF8"
          # Actual build of core SDK
          mvn -B -pl '!org.eclipse.esmf:samm-cli' clean install -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
          # Build samm-cli executable jar
          unset JAVA_TOOL_OPTIONS
          mvn -B -pl tools/samm-cli clean verify -Dmaven.wagon.httpconnectionManager.ttlSeconds=60
        shell: bash

      - name: Build native image (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          bundle="samm-bundle-DEV-SNAPSHOT-$(date +%s)"
          mkdir ${bundle}
          mkdir -p "${bundle}/jre"
          curl -Lo jre.tar.gz https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.7%2B6/OpenJDK21U-jre_x64_linux_hotspot_21.0.7_6.tar.gz
          tar -xvf jre.tar.gz
          cp -r ./jdk-21.0.7+6-jre/* ./${bundle}/jre
          cp tools/samm-cli/target/samm-cli-DEV-SNAPSHOT.jar ./${bundle}/
          
          cat <<EOF > ./${bundle}/run.sh
          #!/usr/bin/env bash

          HERE=\${BASH_SOURCE%/*}

          "\$HERE/jre/bin/java" -jar "\$HERE/samm-cli-DEV-SNAPSHOT.jar" "\$@"
          EOF
          chmod +x ./${bundle}/run.sh

          curl -Lo warp-packer https://github.com/dgiagio/warp/releases/download/v0.3.0/linux-x64.warp-packer
          chmod +x warp-packer
          
          ./warp-packer --arch linux-x64 --input_dir ${bundle} --exec run.sh --output samm
          chmod +x samm
          
          cp samm tools/samm-cli/target/
        shell: bash

      - name: Build native image (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          $bundle = "samm-bundle-DEV-SNAPSHOT-$([int][double]::Parse((Get-Date -UFormat %s)))"
          mkdir $bundle
          New-Item -ItemType Directory -Path "$bundle\jre" -Force
          curl -Lo jre.zip https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.7%2B6/OpenJDK21U-jre_x64_windows_hotspot_21.0.7_6.zip
          tar -xf jre.zip
          Copy-Item .\jdk-21.0.7+6-jre\* .\$bundle\jre -Recurse
          Copy-Item tools\samm-cli\target\samm-cli-DEV-SNAPSHOT.jar .\$bundle\

          Set-Content -Path .\$bundle\run.bat -Value "@echo off`n%~dp0jre\bin\java -jar %~dp0samm-cli-DEV-SNAPSHOT.jar %*"

          curl -Lo warp-packer.exe https://github.com/dgiagio/warp/releases/download/v0.3.0/windows-x64.warp-packer.exe
          .\warp-packer.exe --arch windows-x64 --input_dir $bundle --exec run.bat --output samm.exe
          Copy-Item samm.exe tools\samm-cli\target\samm.exe
        shell: pwsh

      - name: Build native image (Mac)
        if: matrix.os == 'macos-15-intel'
        run: |
          bundle="samm-bundle-DEV-SNAPSHOT-$(date +%s)"
          mkdir ${bundle}
          curl -Lo jre.tar.gz https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.7%2B6/OpenJDK21U-jre_x64_mac_hotspot_21.0.7_6.tar.gz
          tar -xvf jre.tar.gz
          cp -r ./jdk-21.0.7+6-jre ./${bundle}/jre
          cp tools/samm-cli/target/samm-cli-DEV-SNAPSHOT.jar ./${bundle}/

          cat <<EOF > ./${bundle}/run.sh
          #!/usr/bin/env bash

          HERE=\${BASH_SOURCE%/*}

          "\$HERE/jre/Contents/Home/bin/java" -jar "\$HERE/samm-cli-DEV-SNAPSHOT.jar" "\$@"
          EOF
          chmod +x ./${bundle}/run.sh

          curl -Lo warp-packer https://github.com/dgiagio/warp/releases/download/v0.3.0/macos-x64.warp-packer
          chmod +x warp-packer
          
          ./warp-packer --arch macos-x64 --input_dir ${bundle} --exec run.sh --output samm
          chmod +x samm
          cp samm tools/samm-cli/target/
        shell: bash

      - name: Create convenience batch file
        if: matrix.os == 'windows-latest'
        run: |
          echo "start cmd /k samm.exe help" > tools/samm-cli/target/start-samm-cli.bat
        shell: bash

      - name: Switch to Temurin JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'
          overwrite-settings: false

      - name: Test executable jar on Temurin
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd tools/samm-cli
          mvn -B -Dskip.maven.failsafe=false failsafe:integration-test -Dmaven.wagon.httpconnectionManager.ttlSeconds=60

      - name: Upload executable jar
        # We only need one OS job to upload the jar
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: samm-cli-jar
          path: tools/samm-cli/target/samm-cli-*.jar

      - name: Upload binary (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: samm-cli-binary-${{ matrix.os }}
          path: |
            samm.exe

      - name: Upload binary (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: samm-cli-binary-${{ matrix.os }}
          path: |
            samm

      - name: Upload binary (Mac)
        if: matrix.os == 'macos-15-intel'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: samm-cli-binary-${{ matrix.os }}
          path: |
            samm